* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.schedule-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.schedule-heading {
    font-size: 48px;
}

