.fab-container {
    display: flex;
    justify-content: center;
}

.fab {
    position: fixed;
    top: auto;
    bottom: 40px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 24px;


    background-color: #FFA500;
    color: #fff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    transition: font-size 0.1s ease-in-out;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5); /* Add shadow */

}

.fab:hover {
    background-color: #333333;
    box-shadow: 0 0 10px 2px #FFA500;
    font-size: 22px;
    transition: font-size 0.1s ease-in-out;
}
