* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.speakers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin: 0 auto;
    max-width: 1300px;
}

.speakers-content {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.speakers-heading {
    font-size: 48px;
    margin-bottom: 10px;
    color: #333;
    width: 100%;
    font-weight: 700;
    margin-left: -100px;
}

.speakers-text {
    font-size: 20px;
    line-height: 1.6;
    color: #666;
    text-align: justify;
}

.speakers-details {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.slick-slider {
    overflow-y: hidden;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 30px;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 1px 1px 10px #aaaaaa;
}

.card .desc {
    flex: 1;
    padding-left: 30px;
    border-left: 1.5px solid gray;
    padding-top: 32px;
}

.card .speaker-name {
    font-weight: 700;
}

.card .speaker-desc {
    font-style: italic;
}

.card p {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

@media only screen and (max-width: 768px) {
    .speakers-content {
        flex-direction: column;
    }
    .speakers-heading {
        margin-left: 0;
        font-size: 48px;
        margin-bottom: 32px;
        font-weight: 800;
    }

    .speakers-text {
        text-align: center;
    }

    .card img {
        width: 250px;
        height: 250px;
    }
}