* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Container styles */
.about-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 36px;
    margin-top: 36px;
}

/* Image styles */
.image {
    flex: 0 0 50%;
    padding: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 4px 20px -2px gray;
}

.about-content {
    flex: 0 0 50%;
    padding: 20px;
}

.heading {
    font-size: 48px;
    margin-bottom: 10px;
    color: #333;
}

.text {
    margin-top: 36px;
    font-size: 20px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 15px;
}

.bold-text {
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .image {
        display: none;
    }
    .about-content {
        flex: 1;
        text-align: justify;
    }

    .heading {
        text-align: center;
        font-weight: 800;
    }

    .about-container {
        margin-bottom: 12px;
    }
}
