/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Container styles */
.about-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1400px; /* Limit width for better readability */
    margin: 0 auto; /* Center the container */
    margin-bottom: 36px;
    margin-top: 36px;
}

/* Image styles */
.image {
    flex: 0 0 50%; /* Take up half of the container width */
    padding: 20px; /* Add some spacing around the image */
}

.image img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any potential image spacing */
    box-shadow: 0 4px 20px -2px gray;
}

/* Content styles */
.about-content {
    flex: 0 0 50%; /* Take up half of the container width */
    padding: 20px; /* Add some spacing around the content */
}

.heading {
    font-size: 48px; /* Increase heading font size */
    margin-bottom: 10px; /* Reduce heading margin */
    color: #333; /* Adjust text color */
}

.text {
    margin-top: 36px;
    font-size: 20px; /* Increase text font size */
    line-height: 1.6; /* Increase line height for better readability */
    color: #666; /* Adjust text color */
    margin-bottom: 15px; /* Reduce margin bottom for text */
}

.bold-text {
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .image {
        display: none; /* Hide the image on smaller screens */
    }
    .about-content {
        flex: 1; /* Take up the full width on smaller screens */
        text-align: justify;
    }

    .heading {
        text-align: center;
        font-weight: 800;
    }

    .about-container {
        margin-bottom: 12px;
    }
}
