* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px; /* Updated padding for better spacing */

    min-height: 100px;
    font-size: 18px; /* Slightly reduced font size */

    background: rgba(255, 151, 4, 0.65); /* Translucent warm orange background color */
    backdrop-filter: blur(10px); /* Blur effect for glassmorphism */
    border-bottom-left-radius: 16px; /* Border radius only on lower left corner */
    border-bottom-right-radius: 8px; /* Border radius only on lower right corner */
    box-shadow: 0px 8px 16px rgba(255, 165, 158, 0.2); /* Soft shadow for depth */
}

.right {
    display: flex;
    gap: 72px; /* Reduced gap between items */
    font-size: 36px;
    font-weight: 500;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); /* Text shadow for improved readability */
}

.logo {
    font-weight: 900;
    font-size: 36px; /* Increase logo font size */
    color: #fff; /* White color for logo text */
}

.right div {
    color: #fff; /* White color for navbar items */
    cursor: pointer; /* Add pointer cursor to navbar items */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.right div:hover {
    color: rgba(255, 255, 255, 0.7); /* Lighten color on hover */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar stays on top of other content */
    animation: fadeInDown 0.5s ease; /* Add animation for smooth appearance */
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
