* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px; /* Updated padding for better spacing */

    min-height: 100px;
    font-size: 18px; /* Slightly reduced font size */

    background: rgba(255, 151, 4, 0.65);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 8px 16px rgba(255, 165, 158, 0.2);

    cursor: auto;
}

.right {
    display: flex;
    gap: 72px;
    font-size: 28px;
    font-weight: 500;
    color: white;
}

.right div a {
    cursor: pointer;
}

.logo {
    font-weight: 900;
    font-size: 36px; /* Increase logo font size */
    color: #fff; /* White color for logo text */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar stays on top of other content */
    animation: fadeInDown 0.5s ease; /* Add animation for smooth appearance */
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .container {
        display: none;
    }
}
