* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.faq-container {
    color: #333333;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin: 0 auto;
    margin-top: 48px;
    max-width: 900px;
}

.faq-heading {
    font-size: 48px;
}

.item {
    min-width: 900px;
    max-width: 100%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 32px;
    max-height: 1000px;

    cursor: pointer;
}

.faq-question {
    font-size: 24px;
    margin-bottom: 20px;
}

.faq-answer {
    color: #666666;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
}

.question-wrapper {
    display: flex;
    justify-content: space-between;
}

.arrow-icon {
    font-size: 32px;
    color: orange;
}

.item-container {
    margin-top: 48px;
}

.dropdown .show {
    max-height: 200px;
    transition: max-height 0.5s ease-in-out;
    overflow-y: hidden;
}

.dropdown .hide {
    max-height: 0px;
    transition: max-height 0.3s ease-in-out;
    overflow-y: hidden;
}


@media only screen and (max-width: 768px) {

    .faq-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .faq-heading {
        font-weight: 800;
        padding: 20px;
        text-align: center;
    }

    .item-container {
        margin: 0 auto;
    }

    .item {
        min-width: 175px;
        margin-bottom: 30px;
    }

    .question-wrapper {
        max-width: 340px;
    }

    .faq-question {
        font-size: 20px;
        line-height: 30px;
        max-width: 80%;
    }
}